/* addQna.jsp css */
#add_notice_table th {
	text-align: center;
	vertical-align: middle;
}
#add_notice_table textarea {
	width: -webkit-fill-available;
    height: auto;
    border: none;
    box-shadow: none;
}
#add_notice_table input {
	width: -webkit-fill-available;
    height: auto;
    border: none;
  	box-shadow: none;
}

/* qnaDetail.jsp css */
#notice_detail_table th {
	text-align: center;
	vertical-align: middle;
}
#notice_detail_content {
	padding: 20px;
	text-align: left; 
	height: 300px; 
	overflow-y: scroll;
	word-break: normal;
}
#btn-group {
	margin-top: -10px;
	float: right;
}

/* Qna.jsp css */
#notice_table {
	margin-top: 50px;
}
#notice_table th, td{
	text-align: center;
}

/* recruit.jsp css */
#content {
	padding: 40px 0px 70px 0px;
}
#toExcel {
	width: 100%;
	height: 1000px;
	overflow-y: auto;
	margin-top: 50px; 	
}	
#recruitList {
	margin-top: 0px;
}
#recruitList th{
	text-align: center;
}

/*myPage.jsp*/
#body {
	margin-top: 50px;
	padding-bottom: 100px;
}
#body-title {
	margin-bottom: 15px;
}
.profile {
	border-top: 1px solid lightGrey;
    margin: 0 0 20px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.profile-info {
    padding: 4px 8px 10px;
    border-left: 1px solid lightGrey;
    border-right: 1px solid lightGrey;
}
.profile-info .mid {
	margin-top: 15px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}
.profile-info .content {
	margin-top: 10px;
    overflow: hidden;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}
.profile-info .content a {
	text-decoration: none;
	cursor: pointer;
}
.profile-info .content a:hover {
	opacity: 0.8;
}
.profile-info .content .label {
    background-color: rgb(81, 210, 183);
    padding: 5px 5px 5px 5px;
    border-radius: 27px;
}
.profile .button #myPage, #message, #modify, #manageMember{
	border-radius: 0px;	
	margin-bottom: -5px;
	border-bottom: none;
	padding: 10px 10px;
}
.profile .button #manage {
	padding: 10px 10px;
	border-radius: 0px;
}
.profile .button .myPage-active{
	border-left: 3px solid rgb(66,133,244);
}
.profile .button .label {
	background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}
#total {
	text-align: center;
	border: 1px solid lightGrey;
	padding: 10px 0px 10px 0px;
}
#standard {
	margin-bottom: 20px;
	padding-top: 50px;
}
#standard li{
	text-align: center;
}
.storeTd{
	text-align: center;
}
.table {
	margin-left: 10px;
}

/* #body_menu {
	width: 24%;
	height : 700px;
	border-right: 1px solid #a8b0ad;
	text-align: center;	
	background-color:white;
	float: left;
}
#body_content {
	padding: 40px 0px 70px 0px;
	width: 76%;
	height : 700px;
	text-align: center;
	background-color:white;	
	float: left;
}

.mypageInput{
	height:40px;
	width: 70%;
	margin: 0px 2% 0px 0px;
	float: right;
}
.pTag{
	height:40px;
	width: 90%;
	margin: 10px 2% 0px 2%;
	font-size: 17px;
	color:rgba(4, 4, 39, 0.73)

}
.pTagMember{
	margin:40px auto 0px auto;
	width: 40%;
	height: 50px;
	color:rgb(66, 81, 136);
	font-size: 30px;
}

.storeTh, .storeTd{
	width: 8%;	
	text-align: center;
}
.storeTh1{
	width: 25%;	
	text-align: center;
}
#storeTable{
	width: 90%;
	margin:auto;
} */
.storeTd{
	cursor: pointer;
}
/* 폰트 */
@font-face{
   font-family: 'sense'; 
   src:url("../font/sense.ttf") format('truetype');
   src:url("../font/sense.eot") format('truetype');
   src:url("../font/sense.woff") format('truetype');
}
* {
   font-family: 'sense';
}

/* 네비바 */
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
	background: rgb(34, 34, 34);
}
.menubar {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}

.menubar ul {
	/* background: rgb(34, 34, 34); */
	height: 50px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menubar li {
	padding: 0px;
	margin: 0;
	display: inline-block;
}

.menubar li a {
	/* background: rgb(34, 34, 34); */
	color: #cccccc;
	display: block;
	font-weight: normal;
	line-height: 50px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
}

.menubar li a:hover, .menubar ul li:hover a {
	color: #FFFFFF;
	text-decoration: none;
}

.menubar li ul {
	background: rgb(34, 34, 34);
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	/* width: 200px; */
	z-index: 200;
}

.menubar li:hover ul {
	display: block;
}

.menubar li li {
	background: rgb(34, 34, 34);
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	/* width: 200px; */
}

.menubar li:hover li a {
	background: none;
}

.menubar li ul a {
	display: block;
	height: 50px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: center;
}

.menubar li ul a:hover, .menubar li ul li:hover a {
	background: rgb(71, 71, 71);
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

.menubar p {
	clear: left;
}

/* 배너 이미지 */
#banner {
	background: url('../images/banner.jpg') no-repeat;
	background-size: cover;
	padding-top: 30px;
	margin-top: 50px;
	height: 500px;
}

#banner-content {
	background: rgba(50, 50, 50, 0.5);
	position: absolute;
	top: 50px;
	right: 0px;
	margin-left: -50px;
	width: 100%;
	height: 500px;
}

#banner-info {
	position: absolute;
	bottom: 50px;
	right: 50px;
	color: white;	
	text-align: right;
	font-weight: bold;
}


/* 푸터 */
#footer {
	padding-top: 40px;
	text-align: center;
	background-color: rgb(82, 82, 82);
}

#footer-company h5 {
	font-weight: bold;
	color: white;
	padding-bottom: 10px;
}

#footer-company p {
	color: white;
}

#footer-company a {
	text-decoration: none;
	color: white;
}

#footer-policies h5 {
	font-weight: bold;
	color: white;
	padding-bottom: 10px;
}

#footer-policies p {
	color: white;
}

#footer-policies a {
	text-decoration: none;
	color: white;
}

#footer-support h5 {
	font-weight: bold;
	color: white;
	padding-bottom: 10px;
}

#footer-support p {
	color: white;
}

#footer-support a {
	text-decoration: none;
	color: white;
}

#footer-certificate {
	margin-top: 50px;
	padding: 40px 0px 40px 0px;
	border-top: 1px solid white;
	color: white;
}

/* 모달 */
.modal-header, .close {
	background-color: rgb(244,177,131);
	color: white ;
	text-align: center;
	font-size: 30px;
}
.modal-header h5{
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}
.modal-header p{
	font-size: 14px;
	color: white ;
}
.modal-footer {
	background-color: #f9f9f9;
	font-size: 12px;
}
.modal-footer a {
	text-decoration: none;
}
.modal-footer p {
	margin-top: 5px;
	color: rgb(68,68,68);
}
