.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #ffffff;
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
	color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
	color: #fff !important;
}

.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.dropdown-menu li a {
	color: #000 !important;
}

.dropdown-menu li a:hover {
	background-color: red !important;
}

#banner {
	background: url('../images/banner.jpg') no-repeat;
	background-size: cover;
	padding-top: 30px;
	height: 500px;
}