/* recruit.jsp css */
#content {
	padding: 40px 0px 70px 0px;
}
#recruitList {
	margin-top: 70px;
}

/*calendar.jsp css*/
#calendar {
	margin: 40px 0px 40px 0px;
}
.fc-day-number.fc-sat.fc-past {
	color: #0000FF;
}

.fc-day-number.fc-sun.fc-past {
	color: #FF0000;
}

/*editSchedule.jsp css*/
#body_menu {
	width: 20%;
	height : 700px;
	border-right: 1px solid #a8b0ad;
	text-align: center;	
	background-color:white;
	float: left;
}
#body_content {
	padding: 40px 0px 70px 0px;
	width: 80%;
	height : 700px;
	text-align: center;
	background-color:white;	
	float: left;
}
.body_menu_ptag{
	text-align: center;
	font-size: 150%;
	color: #545c59;
	padding-bottom: 3%;
	border-bottom: 1px solid #a8b0ad;
}
#miniCalendar {
	margin: 20px 5px 20px 5px;
}
#miniCalendar.fc-view-container{
	height:30%;
}
.select_Store{
	width: 70%;
	height: 5%;
	margin: 40px 0px 40px 5px;
	font-size: 110%;
	float: left;
}
.changeStorebtn{
	width: 20%;
	height: 5%;
	margin: 40px 5px 40px 5px;
	font-size: 110%;
	float: left;
}

/*  */
#h2_selectMonth{
	margin: 40px 0px 0px 50px;
	text-align: left;
	float : left;
	wid
}
/* .selectYear, .selectMonth, .emName{ */
/* 	margin: 40px 0px 0px 10px; */
/* 	text-align: center; */
/* 	float : left; */
/* 	width: 70%; */
/* } */
/* editSchedule.jsp 스케줄 테이블 css*/
#detailSchedule{
	margin: 30px 50px 50px 50px;
	width: 1300px;
	height: auto;
}
.scheduleTable_totalDate_td, .scheduleTable_date_th, .scheduleTable_date_td{
	text-align: center;
	width:40px;
	height:40px;
	border: 1px solid #a8b0ad;	
}
.scheduleTable_totalDay_td, .scheduleTable_totalTime_td, .scheduleTable_day_th, .scheduleTable_day_td, .scheduleTable_td, .scheduleTable_th,.scheduleTable_time_td,.scheduleTable_time_th{
	text-align: center;
	width: 70px;
	height: 40px;
	border: 1px solid #a8b0ad;
}
.scheduleTable_tr{
	text-align: center;
	height: 40px;
}
/* 폰트 */
@font-face{
   font-family: 'sense'; 
   src:url("../font/sense.ttf") format('truetype');
   src:url("../font/sense.eot") format('truetype');
   src:url("../font/sense.woff") format('truetype');
}
* {
   font-family: 'sense';
}

/* 네비바 */
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
	background: rgb(34, 34, 34);
}
.menubar {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}

.menubar ul {
	/* background: rgb(34, 34, 34); */
	height: 50px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menubar li {
	padding: 0px;
	margin: 0;
	display: inline-block;
}

.menubar li a {
	/* background: rgb(34, 34, 34); */
	color: #cccccc;
	display: block;
	font-weight: normal;
	line-height: 50px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
}

.menubar li a:hover, .menubar ul li:hover a {
	color: #FFFFFF;
	text-decoration: none;
}

.menubar li ul {
	background: rgb(34, 34, 34);
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	/* width: 200px; */
	z-index: 200;
}

.menubar li:hover ul {
	display: block;
}

.menubar li li {
	background: rgb(34, 34, 34);
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	/* width: 200px; */
}

.menubar li:hover li a {
	background: none;
}

.menubar li ul a {
	display: block;
	height: 50px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: center;
}

.menubar li ul a:hover, .menubar li ul li:hover a {
	background: rgb(71, 71, 71);
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

.menubar p {
	clear: left;
}

/* 배너 이미지 */
#banner {
	background: url('../images/banner.jpg') no-repeat;
	background-size: cover;
	padding-top: 30px;
	margin-top: 50px;
	height: 500px;
}

#banner-content {
	background: rgba(50, 50, 50, 0.5);
	position: absolute;
	top: 50px;
	right: 0px;
	margin-left: -50px;
	width: 100%;
	height: 500px;
}

#banner-info {
	position: absolute;
	bottom: 50px;
	right: 50px;
	color: white;	
	text-align: right;
	font-weight: bold;
}


/* 푸터 */
#footer {
	padding-top: 40px;
	text-align: center;
	background-color: rgb(82, 82, 82);
}

#footer-company h5 {
	font-weight: bold;
	color: white;
	padding-bottom: 10px;
}

#footer-company p {
	color: white;
}

#footer-company a {
	text-decoration: none;
	color: white;
}

#footer-policies h5 {
	font-weight: bold;
	color: white;
	padding-bottom: 10px;
}

#footer-policies p {
	color: white;
}

#footer-policies a {
	text-decoration: none;
	color: white;
}

#footer-support h5 {
	font-weight: bold;
	color: white;
	padding-bottom: 10px;
}

#footer-support p {
	color: white;
}

#footer-support a {
	text-decoration: none;
	color: white;
}

#footer-certificate {
	margin-top: 50px;
	padding: 40px 0px 40px 0px;
	border-top: 1px solid white;
	color: white;
}

/* 모달 */
.modal-header, .close {
	background-color: rgb(244,177,131);
	color: white ;
	text-align: center;
	font-size: 30px;
}
.modal-header h5{
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}
.modal-header p{
	font-size: 14px;
	color: white ;
}
.modal-footer {
	background-color: #f9f9f9;
	font-size: 12px;
}
.modal-footer a {
	text-decoration: none;
}
.modal-footer p {
	margin-top: 5px;
	color: rgb(68,68,68);
}
